body {
	/* background-color: rgb(156, 241, 223); */
	margin: 10px;
	background: url("history-ppt-431.gif");
	background-size: cover;
}

.navbar1 {
	background-image: linear-gradient(
		to bottom,
		rgb(228, 161, 18),
		rgb(238, 187, 92)
	);
	border-radius: 0px;
	border-style: double;
	border-width: 0px 0px 7px 0px;
	border-color: rgb(53, 74, 141);
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
}

.navbar1 ul {
	overflow: auto;
}

.navbar1 li {
	float: right;
	list-style: none;
	padding: 9px 15px;
}
.navbar1 ul div {
	float: left;
	font-size: 26px;
	padding: 5px 15px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgb(218, 20, 20);
}

#ico {
	float: left;
	height: 35px;
	width: 35px;
	border-style: none;
	position: relative;
	bottom: 3px;
	right: 5px;
}

.navbar1 li a {
	text-decoration: none;
	color: rgb(53, 74, 141);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.navbar1 li a:hover {
	color: red;
}
.navbar1 li a.active {
	color: rgb(230, 56, 56);
	text-decoration: none;
	border-radius: 0px;
	border-style: solid;
	border-color: rgb(230, 56, 56);
	border-width: 0px 0px 4px 0px;
}

h1 {
	background-image: linear-gradient(
		to bottom,
		rgb(156, 142, 142),
		rgb(106, 101, 110)
	);
	border-style: solid;
	border-radius: 15px;
	border-color: rgb(63, 62, 62);
	padding: 3px 5px;
	font-size: 26px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: aliceblue;
}

p {
	font-size: 18px;
	color: rgb(184, 224, 231);
	font-weight: bolder;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
	margin: 15px;
}

p a {
	background-image: linear-gradient(
		to bottom,
		rgb(255, 151, 124),
		rgb(192, 86, 60)
	);
	font-size: 20px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgb(243, 243, 243);
	text-decoration: none;
	border-radius: 10px;
	padding: 8px 15px;
}
p a:hover {
	background-image: linear-gradient(
		to bottom,
		rgb(250, 181, 90),
		rgb(190, 140, 46)
	);
}

.copyright {
	color: aliceblue;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	position: fixed;
	bottom: 7px;
	left: 0px;
	right: 0px;
}
